@namespace barberchainAPI.Components.Pages
@page "/barbershop/{Id:int}"
@rendermode InteractiveServer
@using barberchainAPI.Functional
@using barberchainAPI.Functional.Services
@using System.Collections.Generic;
@inject NavigationManager Navigation
@inject BarberchainDbContext Context
@inject CartService CartService
@inject IDialogService DialogService
@inject IMapService MapService

<MudDialogProvider></MudDialogProvider>

@using barberchainAPI.Data  <!-- Namespace with Barbershop model -->
@using MudBlazor

@if (Barbershop is null)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudPaper Class="mt-8 pa-4 mx-auto" Style="max-width: 900px; border: 1px solid black;">

        @if (Barbershop == null)
        {
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        }
        else
        {
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <!-- Map placeholder -->
                    <div id="map" style="height: 200px; background: black; border: 1px solid black;">

                    </div>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudText Typo="Typo.h4">@Barbershop.Address</MudText>
                    <MudText Typo="Typo.subtitle1">🤙 @Barbershop.Phone</MudText>
                    <MudText Typo="Typo.subtitle2">
                        🕒 @(oh < 10 ? "0" + oh : oh):@(om < 10 ? "0" + om : om) - @(ch < 10 ? "0" + ch : ch):@(cm < 10 ? "0" + cm : cm)
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2 d-flex">Услуги</MudText>
            <MudList T="string" Class="d-flex flex-wrap">
                @foreach (var job in Service)
                {
                    <MudContainer Class="d-flex mb-4" Style="align-items:center;">
                        <MudListItem Text=@job.Name />
                        @if (cart != null)
                        {
                            <MudButton @onclick="async () => { await OnServiceClicked(job); }" Style=@($"background:{(cart.JobSet.Contains(job) ? "gray" : job.ColorCSS)}; height:min-content;")>@(cart.JobSet.Contains(job) ? "Добавлено" : "")</MudButton>
                        }
                    </MudContainer>
                }
            </MudList>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">Сотрудники</MudText>
            <MudGrid>
                @foreach (var barber in Barbershop.Barbers)
                {
                    @if (cart != null && barber.BarberJobs.Select(bj => bj.Job).ToHashSet().IsSupersetOf(cart.JobSet))
                    {
                        <MudItem xs="12" sm="6" md="4">
                            <MudCard Style="border: 1px solid black;">
                                <MudCardContent>
                                    <MudText Typo="Typo.subtitle1">@barber.Account.Lastname @barber.Account.Restname</MudText>
                                    <a href=@($"/account/{barber.AccountId}?component=Profile")>
                                        <MudImage Src="@AccountPage.GetImageSrc(barber.Account.ProfilePic)" Alt="Barber profile pic" ObjectFit="ObjectFit.Cover" Style="width:100%;height:auto;" />
                                    </a>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                }
            </MudGrid>

            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5" Class="mb-2">Галерея</MudText>
            <MudGrid>
                @for (int i = 0; i < Barbershop.Images.Count; i++)
                {
                    var image = Barbershop.Images.ElementAt(i);

                    <MudItem xs="6" sm="4" md="3">
                        <MudImage @onclick="() => OpenGallery(i)" Src="@AccountPage.GetImageSrc(image.ImgFile)"
                                    Alt="Auxiliary image"
                                    Style="width:200px; height:200px; cursor:pointer; box-shadow: 0 0 20px rgba(0,0,0,0.5);"
                                    ObjectFit="ObjectFit.Cover
                                    "/>
                    </MudItem>
                }
            </MudGrid>
        }
    </MudPaper>
}
@code {
    [Parameter] public int Id { get; set; }
    private Barbershop? Barbershop { get; set; } = default!;

    private HashSet<Job> Service { get; set; } = new HashSet<Job>();

    private int oh, om, ch, cm;

    private async Task InitBshop()
    {
        Barbershop = await Context.Barbershops
             .Include(bs => bs.Barbers)
                 .ThenInclude(b => b.Account)
             .Include(bs => bs.Barbers)
                 .ThenInclude(b => b.BarberJobs)
                     .ThenInclude(bj => bj.Job)
             .Include(bs => bs.Images)
             .Where(bs => bs.Id == Id)
             .FirstOrDefaultAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Barbershop == null)
            {
                await InitBshop();
            }

            if (Barbershop is null)
            {
                Navigation.NavigateTo("/");
            }

            int openingBit = -1;
            for (int i = 0; i < 96; i++)
            {
                if (Barbershop!.DefaultSchedule[i]) // BitArray or bool[]
                {
                    openingBit = i;
                    break;
                }
            }

            if (openingBit == -1)
            {
                // No schedule available
                oh = 0;
                om = 0;
            }
            else
            {
                oh = openingBit / 4;          // hour
                om = (openingBit % 4) * 15;   // minute
            }

            int closingBit = -1;
            for (int i = 95; i >= 0; i--)
            {
                if (Barbershop!.DefaultSchedule[i])
                {
                    closingBit = i;
                    break;
                }
            }

            if (closingBit == -1)
            {
                // No schedule available
                ch = 0;
                cm = 0;
            }
            else
            {
                // Closing time is the END of last available interval
                ch = (closingBit + 1) / 4;
                cm = ((closingBit + 1) % 4) * 15;
            }


            var jobIdSet = new HashSet<int>();
            foreach (var b in Barbershop!.Barbers)
            {
                jobIdSet = await Context.BarberJobs.Where(bj => b.Id == bj.BarberId).Select(bj => bj.JobId).ToHashSetAsync();

                foreach (var id in jobIdSet)
                {
                    Service!.Add((await Context.Jobs.Where(j => j.Id == id).FirstOrDefaultAsync())!);
                }
            }
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private Cart? cart;

    private bool _mapInitialized;
    protected override async Task OnAfterRenderAsync(bool firstTime)
    {
        if (Barbershop == null)
            return;

        if (!_mapInitialized)
        {
            _mapInitialized = true;

            // Ensure DOM is ready
            await Task.Yield();

            cart = await CartService.GetCart();
            StateHasChanged();

            await MapService.InitMapAsync(
                "map",
                Barbershop.Latitude,
                Barbershop.Longitude,
                16
            );

            await MapService.AddMarkerAsync(
                Barbershop.Id.ToString(),
                Barbershop.Latitude,
                Barbershop.Longitude
            );
        }
    }

    private async Task OnServiceClicked(Job j)
    {
        if (cart!.JobSet.Contains(j))
        {
            await CartService.RemoveItem(j.Id);
        }
        else
        {
            await CartService.AddToCart(j);
        }

        cart = await CartService.GetCart(); // update the cart

        StateHasChanged();
    }

    private async Task OpenGallery(int index)
    {
        var parameters = new DialogParameters<ImageGalleryDialog>
        {
            { x => x.StartIndex, index },
            { x => x.Images, Barbershop!.Images.Select(i => i.ImgFile).ToList() }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = false,
            NoHeader = true,
            BackgroundClass = "noshadow"
        };

        await DialogService.ShowAsync<ImageGalleryDialog>("", parameters, options);
    }
}
