@namespace barberchainAPI.Components.Pages
@using MudBlazor
@using System.Collections
@using System.Security.Claims
@using barberchainAPI.Functional;
@using Microsoft.AspNetCore.Components.Authorization
@using barberchainAPI.Functional.Services
@inject IDialogService DialogService
@inject BarberchainDbContext Context
@inject CartService CartService
@inject ISnackbar Snackbar
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IProfileService ProfileService

@if (account is null)
{
    <MudText>
        Loading...
    </MudText>
}
else
{
    <MudPaper Class="p-4">

        <MudContainer Style="display:flex; padding-top:1rem;">

        <!-- Profile picture -->
        <div style="position:relative;">
            <MudImage Src="@AccountPage.GetImageSrc(IsEditing ? EditableAccount.ProfilePic : account.ProfilePic)"
                      ObjectFit="ObjectFit.Cover"
                      Style="max-width:350px; max-height:400px; margin-bottom:1rem;" />

            @if (IsEditing)
            {
                <InputFile OnChange="OnProfilePicChanged" accept="image/*" style="position:absolute; bottom:10px; left:10px; background:white;" />
            }
        </div>

        <!-- Account info -->
        <MudContainer Style="display:flex; flex-direction:column; align-items:flex-start;">

            @if (!IsEditing)
            {
                <MudStack Row="true" Justify="Justify.SpaceBetween" Style="width: 100%;">
                    <MudText Typo="Typo.h5">@account.Lastname @account.Restname</MudText>
                    @if (user != null && user.Identity!.IsAuthenticated && account.Id == int.Parse(user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value))
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="margin-bottom: 1rem; height: fit-content;" Class="ml-auto"
                                    OnClick="StartEditing">
                            Редактировать
                        </MudButton>
                    }
                </MudStack>
                <MudText Typo="Typo.h6">обо мне:</MudText>
                <MudText Typo="Typo.subtitle1" Class="text-secondary">@account.Bio</MudText>
                <MudText Typo="Typo.h6">день рождения: @account.BirthDate</MudText>
                @if (user != null && user.Identity!.IsAuthenticated && account.Id == int.Parse(user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value))
                {
                    <MudText Typo="Typo.subtitle2" Align="Align.Start">электронная почта: @account.Email</MudText>
                    <MudText Typo="Typo.subtitle2" Align="Align.Start">номер телефона: @account.Phone</MudText>
                }
            }
            else
            {
                <MudTextField MaxLength="256" @bind-Value="EditableAccount.Lastname" Label="фамилия (или username)" />
                <MudTextField MaxLength="256" @bind-Value="EditableAccount.Restname" Label="имя отчество" />
                <MudTextField MaxLength="256" @bind-Value="EditableAccount.Bio" Label="о себе" Lines="3" />
                <MudDatePicker @bind-Date="BirthDateEdit" Label="день рождения" />
                <MudTextField MaxLength="20" @bind-Value="EditableAccount.Phone" Label="номер телефона" Lines="1" />

                <MudStack Row="true" Spacing="2" Class="mt-3 mb-3">

                    <MudButton Variant="Variant.Filled" Color="Color.Primary"
                               OnClick="SaveEditing">
                        Сохранить
                    </MudButton>

                    <MudButton Variant="Variant.Outlined" Color="Color.Error"
                               OnClick="CancelEditing">
                        Отмена
                    </MudButton>

                </MudStack>
            }

            @if (account.Role == AccountRole.Barber)
            {
                <MudText Typo="Typo.h6">что я умею:</MudText>
                <MudText Style="width: fit-content;" Typo="Typo.body1" Class="text-secondary">
                    @if (jobs is not null && cart != null)
                    {
                        <MudList T="string">
                            <MudStack Row="true" Style="justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;">
                                @foreach (var job in jobs)
                                {
                                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                        <MudListItem Text=@job.Job.Name SecondaryText=@(job.Price is null ? job.Job.DefaultPrice.ToString() : job.Price.ToString()) Style="width: fit-content;" />
                                        <MudButton @onclick="async () => { await OnServiceClicked(job.Job); }" Style=@($"background:{(cart.JobSet.Contains(job.Job) ? "gray" : job.Job.ColorCSS)}; height:fit-content;")>@(cart.JobSet.Contains(job.Job) ? "Добавлено" : "")</MudButton>
                                    </MudStack>
                                }
                            </MudStack>
                        </MudList>
                    }
                </MudText>
            }
        </MudContainer>

    </MudContainer>

        @if (account.Role == AccountRole.Barber)
        {
            <MudDivider Class="my-4" />

            <!-- Auxiliary Pictures Grid -->
            <MudText Typo="Typo.h6" Class="ml-4 mb-2">Галерея</MudText>
            @if (barber?.Images != null && barber.Images.Any())
            {
                @for (int i = 0; i < barber.Images.Count; i++)
                {
                    var img = barber.Images.ElementAt(i);

                    <MudGrid GutterSize="2">
                        <MudItem xs="6" sm="4" md="3">
                            <MudPaper Elevation="1" Class="p-1">
                                <MudImage Src="@AccountPage.GetImageSrc(img.ImgFile)" Alt="Auxiliary image" Style="width:100%; height:auto;" />
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="6" sm="4" md="3">
                            <MudImage @onclick="() => OpenGallery(i)" Src="@AccountPage.GetImageSrc(img.ImgFile)"
                                      Alt="Auxiliary image"
                                      Style="width:200px; height:200px; cursor:pointer; box-shadow: 0 0 20px rgba(0,0,0,0.5);"
                                      ObjectFit="ObjectFit.Cover" />
                        </MudItem>
                    </MudGrid>

                    <MudGrid>
                    </MudGrid>
                }
            }
            else
            {
                <MudText Class="ml-4" Align="Align.Left">Нет изображений</MudText>
            }

            <MudDivider Class="my-4" />

            <!-- Calendar Section -->
            <MudText Typo="Typo.h6" Class="ml-4 mb-2">Бронирование</MudText>
            <MudStack Class="ml-4" Style="width: fit-content;" Row="true">
                <MudDatePicker IsDateDisabledFunc="@((DateTime dt)=>(dt < DateTime.Today || dt > DateTime.Today.AddDays(7)) || dt.DayOfWeek == DayOfWeek.Saturday || dt.DayOfWeek == DayOfWeek.Sunday)" Style="width: fit-content;" PickerVariant="PickerVariant.Inline" Orientation="Orientation.Landscape" @bind-Date="_selectedDate" />
                <MudButton Style="ml-6 mr-8" @onclick="OpenBookDialogAsync" Variant="Variant.Filled" Color="Color.Primary">
                    Забронировать
                </MudButton>
            </MudStack>


            <MudDivider Class="my-4" />

            <MudPaper Class="p-6 pa-4">
                <MudStack Spacing="3">
                    <MudText Typo="Typo.h4">Отзывы</MudText>
                    <MudDivider Class=""></MudDivider>
                    <AuthorizeView>
                        <MudExpansionPanel Text="Оставить отзыв" @ref="reviewPanel">
                            <MudPaper Class="pa-4" Style="border: 1px solid black;">
                                <MudForm @ref="_form" @bind-IsValid="isFormValid">
                                    <MudRating @bind-SelectedValue="reviewModel.Score" MaxValue="5" Size="Size.Large" Required="true" />

                                    <MudText Typo="Typo.subtitle2">Если вы хотите оставить отзыв по определенному заказу, пожалуйста, укажите его здесь</MudText>
                                    <MudSelect T="int" @bind-Value="reviewModel.OrderId">
                                        @if (userOrders != null)
                                        {
                                            @foreach (var o in userOrders)
                                            {
                                                <MudSelectItem T="int" Value="@o.Id">@($"Заказ #{o.Id} - {o.AppointedTime:dd.MM.yyyy}")</MudSelectItem>
                                            }
                                        }
                                    </MudSelect>

                                    <MudTextField T="string" Label="Ваш отзыв" @bind-Value="reviewModel.Text"
                                                  Lines="4" />

                                    <MudStack Class="mt-4" AlignItems="AlignItems.End" Row="true">
                                        <MudButton Style="color: gray;" Variant="Variant.Filled" OnClick="CancelReview">
                                            Отмена
                                        </MudButton>
                                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SubmitReview">
                                            Отправить
                                        </MudButton>
                                    </MudStack>
                                </MudForm>
                            </MudPaper>
                        </MudExpansionPanel>
                    </AuthorizeView>

                    <MudDivider Class="mb-2" />

                    <ReviewsForBarber user="@user" barber="@barber" @ref="reviewsForBarber"></ReviewsForBarber>
                </MudStack>
            </MudPaper>
        }
    </MudPaper>
}

@code{
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public Account? account { get; set; }

    [Parameter]
    public ClaimsPrincipal? user { get; set; }

    private Cart? cart;
    private bool _loaded = false;
    private bool IsEditing = false;

    private Account EditableAccount = new(); // copy of account data for editing

    private DateTime? BirthDateEdit
    {
        get => EditableAccount.BirthDate?.ToDateTime(TimeOnly.MinValue);
        set => EditableAccount.BirthDate = DateOnly.FromDateTime(value.Value);
    }


    void StartEditing()
    {
        EditableAccount = new Account
        {
            Id = account!.Id,
            Lastname = account.Lastname,
            Restname = account.Restname,
            Bio = account.Bio,
            BirthDate = account.BirthDate,
            ProfilePic = account.ProfilePic
        };

        IsEditing = true;
    }

    void CancelEditing()
    {
        IsEditing = false;
    }

    async Task SaveEditing()
    {
        account!.Lastname = EditableAccount.Lastname;
        account.Restname = EditableAccount.Restname;
        account.Bio = EditableAccount.Bio;
        account.BirthDate = EditableAccount.BirthDate;
        account.ProfilePic = EditableAccount.ProfilePic;
        account.Phone = EditableAccount.Phone;

        Context.Accounts.Update(account);
        await Context.SaveChangesAsync();

        Snackbar.Add("Изменения сохранены", Severity.Success);
        IsEditing = false;
        StateHasChanged();
    }

    private async Task OnProfilePicChanged(InputFileChangeEventArgs e)
    {
        var file = e.File;
        using var ms = new MemoryStream();
        await file.OpenReadStream(1024 * 1024 * 3).CopyToAsync(ms);

        EditableAccount.ProfilePic = ms.ToArray();
    }

    //Barber variables
    [Parameter]
    public List<BarberJob> jobs { get; set; }

    [Parameter]
    public Barber? barber { get; set; }

    public BitArray? AtuPattern { get; set; }

    protected DateTime? _selectedDate = DateTime.Today;

    protected override async Task OnAfterRenderAsync(bool firstTime)
    {
        if (firstTime)
        {
            cart = await CartService.GetCart();
            StateHasChanged();
        }
    }

    private async Task OpenBookDialogAsync()
    {
        AtuPattern = await ProfileService.GetAvailabilityForDayAsync(barber!.Id, _selectedDate);
        var jobSet = cart!.JobSet.Intersect(barber.BarberJobs.Select(x => x.Job));

        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraExtraLarge, FullWidth = true };
        var params_ = new DialogParameters<BarberPageDialog> {
            { x => x.AtuPattern, AtuPattern }, 
            { y => y.SelectedDate, _selectedDate}, 
            { z => z.Barber, barber },
            { w => w.user, user },
            { u => u.JobSet, jobSet } };

        var dialog = await DialogService.ShowAsync<BarberPageDialog>("Book time", params_, options);
        var dialogRes = await dialog.Result;
        if (dialogRes != null && !dialogRes.Canceled)
        {
            var createdOrder = dialogRes.Data as Order;

            Navigation.NavigateTo($"/payment/{createdOrder!.Id}");
            Navigation.Refresh();
        }
    }

    private async Task OnServiceClicked(Job j)
    {
        if (cart!.JobSet.Contains(j))
        {
            await CartService.RemoveItem(j.Id);
        }
        else
        {
            await CartService.AddToCart(j);
        }

        cart = await CartService.GetCart(); // update the cart

        StateHasChanged();
    }

    private MudForm _form = default!;
    private MudExpansionPanel reviewPanel = default!;
    private bool isFormValid;
    private ReviewModel reviewModel = new ReviewModel();
    private List<Order> userOrders = new List<Order>();
    private ReviewsForBarber reviewsForBarber = default!;

    protected override async Task OnInitializedAsync()
    {
        if (user is null || !user.Identity!.IsAuthenticated)
        {
            userOrders = null!;
            return;
        }

        var userId = int.Parse(user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);

        if (barber != null)
        {
            userOrders = await Context.Orders
                .Where(o => o.AccountId == userId && o.BarberId == barber.Id && o.Status == OrderStatus.Complete)
                .ToListAsync();
        }
    }

    private async Task SubmitReview()
    {
        await _form.Validate();
        if (!isFormValid)
            return;

        var userId = int.Parse(user.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);

        if (!await Context.Orders.AnyAsync(o => o.BarberId == barber!.Id && o.AccountId == userId && o.Status == OrderStatus.Complete))
        {
            Snackbar.Add("Вы не можете оставить отзыв о сотруднике, если у вас нет с ним ни единого выполненного заказа", Severity.Info);
            return;
        }

        var msg = await ProfileService.SubmitReviewAsync(new SubmitReviewDto()
        {
            Barber = barber!,
            ReviewModel = reviewModel,
            UserId = userId
        });

        Snackbar.Add(msg.Item1, msg.Item2);
        
        if (msg.Item2 == Severity.Success)
        {
            await _form.ResetAsync();
        }

        await reviewsForBarber.Refresh();
    }

    private async Task CancelReview()
    {
        await _form!.ResetAsync(); 
        reviewPanel?.CollapseAsync();
    }

    public class ReviewModel
    {
        public int Score { get; set; }
        public int OrderId { get; set; }
        public string Text { get; set; } = default!;
    }

    private async Task OpenGallery(int index)
    {
        var parameters = new DialogParameters<ImageGalleryDialog>
        {
            { x => x.StartIndex, index },
            { x => x.Images, barber!.Images.Select(i => i.ImgFile).ToList() }
        };

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Large,
                FullWidth = true,
                CloseButton = false,
                NoHeader = true,
                BackgroundClass = "noshadow"
            };

        await DialogService.ShowAsync<ImageGalleryDialog>("", parameters, options);
    }
}