@namespace barberchainAPI.Components.Pages
@inject BarberchainDbContext Context
@using MudBlazor
@using barberchainAPI.Components.Pages;
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (ReviewList?.Count > 0)
{
    <MudPaper Elevation="3" Class="p-6 rounded-lg">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h4">Мои отзывы</MudText>
            <MudDivider Class="mb-2" />

            @foreach (var r in ReviewList)
            {
                <MudCard Elevation="2" Class="mb-3">
                    <MudCardContent>
                        <MudStack Spacing="1">
                            <MudStack Direction="Row" AlignItems="AlignItems.Start" Spacing="2">
                                <MudRating SelectedValue="@((int)r.Score)" MaxValue="5" ReadOnly="true" Size="Size.Medium"/>
                                <a href=@($"account/{r.Barber?.AccountId}")><MudText Style="color: cadetblue" Typo="Typo.subtitle1">@r.Barber?.Account?.Lastname @r.Barber?.Account?.Restname</MudText></a>
                            </MudStack>

                            <MudText Typo="Typo.body2">@r.Text</MudText>

                            @if (r.CreatedAt != null)
                            {
                                <MudText Typo="Typo.caption" Color="Color.Secondary">
                                    @r.CreatedAt.ToString("dd MMMM yyyy")
                                </MudText>
                            }

                            <MudStack Row="true" Class="ml-auto" Spacing="1">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                               Color="Color.Primary"
                                               OnClick="@(() => EditReview(r))" />

                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                               Color="Color.Error"
                                               OnClick="@(() => DeleteReview(r))" />
                            </MudStack>

                        </MudStack>
                    </MudCardContent>
                </MudCard>
            }
        </MudStack>
    </MudPaper>
}
else
{
    <MudPaper Elevation="3" Class="p-4 rounded-lg" Style="text-align:center;">
        <MudIcon Class="mt-4" Icon="@Icons.Material.Filled.Reviews" Color="Color.Secondary" Size="Size.Large" />
        <MudText Typo="Typo.h6" Class="mt-2">Нет отзывов</MudText>
        <MudText Class="mb-4" Typo="Typo.body2">Вы ещё не оставили отзывов о сотрудниках</MudText>
    </MudPaper>
}

@code {
    [Parameter]
    public int id { get; set; }

    private List<Review> ReviewList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ReviewList = await Context.Reviews
            .Where(r => r.AccountId == id)
            .Include(r => r.Barber)
                .ThenInclude(b => b.Account)
            .OrderByDescending(r => r.CreatedAt)
            .ToListAsync();
    }

    async Task EditReview(Review r)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large, FullWidth = true };
        var params_ = new DialogParameters<ReviewEditDialog> {
            { x => x.Review, r } };

        var dialog = await DialogService.ShowAsync<ReviewEditDialog>("Редактирование отзыва", params_, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            Context.Reviews.Update(r);
            await Context.SaveChangesAsync();
            Snackbar.Add("Отзыв обновлён", Severity.Success);
        }
    }

    async Task DeleteReview(Review r)
    {
        bool? confirmed = await DialogService.ShowMessageBox(
            "Подтвердите удаление",
            $"Удалить этот отзыв?",
            yesText: "Удалить", cancelText: "Отмена");

        if (confirmed == true)
        {
            Context.Reviews.Remove(r);
            await Context.SaveChangesAsync();

            ReviewList.Remove(r);
            StateHasChanged();

            Snackbar.Add("Отзыв удалён", Severity.Info);
        }
    }
}
